:root {
    --lil치s-principal: #474bc3;
    --preto-secundario: #000000;
    --botao-roxo: #7d1ed5;
    --cor-de-fundo: #00030C;
}

 body {
    background-color: var(--cor-de-fundo);
    color: var(--lil치s-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-roxo);
    border-radius: 5px;
    padding: 1em;
    color: var(--lil치s-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--lil치s-principal)
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}
